modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve -s dist -l 5000"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8080
externalPort = 80
